
@{
    ViewBag.Title = "ListarProveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<select class="form-control" id="id_proveedor" name="id_proveedor">
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.nombre</option>
    }
</select>
