
@{
    ViewBag.Title = "nuevoIndex";
    Layout = "~/Views/Shared/nuevoLayaout.cshtml";
}

<h2>nuevoIndex</h2>

@{
    int num1 = 10;
}

<h3>el valor de la variable es @num1</h3>

@if (num1 == 10)
{
    <span>el numero es @num1</span>
}