
@{
    ViewBag.Title = "uploadCSV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>uploadCSV</h2>

<div class="card">
    <div class="card-header">
        Cargar archivo CSV
    </div>
    <div class="card-body">
        <table class="display responsive nowrap" id="myTable" style="width:100%">
            <thead>

                @using (Html.BeginForm("uploadCSV", "Proveedor", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
    <input type="file" name="fileForm" />


                    <input class="btn btn-danger" type="submit" value="Enviar" />}

            </thead>
        </table>
    </div>
</div>

<div>
    <a class="btn btn-primary" href="/Proveedor/Index">Volver a la lista <span class="glyphicon glyphicon-hand-left"></span></a>

</div>